<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Minesweeper">

  <test name="Command line parser test">
    <classes>
      <class name="ru.nsu.ccfit.petrov.minesweeper.clparser.CLParserTest"/>
    </classes>
  </test>

  <test name="Observer pattern test">
    <classes>
      <class name="ru.nsu.ccfit.petrov.minesweeper.observer.ObserverTest"/>
      <class name="ru.nsu.ccfit.petrov.minesweeper.observer.ContextTest"/>
    </classes>
  </test>

  <test name="Controller test">
    <classes>
      <class name="ru.nsu.ccfit.petrov.minesweeper.controller.ControllerModelTest"/>
      <class name="ru.nsu.ccfit.petrov.minesweeper.controller.ControllerScoreRatingTest"/>
    </classes>
  </test>

  <test name="Model test">
    <classes>
      <class name="ru.nsu.ccfit.petrov.minesweeper.model.ModelTest"/>
    </classes>
  </test>

</suite>